<section>
  <div class="fix960">
    <div class="counters">
      <div class="counter" data-date="11/4/2012" data-time="3:5" data-name="Lalala" data-id="1">
        <div class="counterInfo">
          Lalala<span>on</span>12/4/2012<span>at</span>23:00
          <a href="#" class="delete" value="1"></a>
        </div>
        <div class="data"></div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript">
  $(document).ready(function(){
    new window.App(".counters")
  });
</script>